<!-- app/views/groups/edit.html.erb -->
<h1>グループ編集</h1>

<%= render 'form', group: @group, groups: @groups %>

<div style="margin-top:12px;">
  <%= link_to "戻る", root_path, class: "cf-btn-secondary" %>
</div>
